body {
	background: #111111; 
	font: 14px 'Myriad Pro', Geneva, Tahoma, Trebuchet MS, Verdana, Arial, sans-serif; 
	color: #DDDDDD;
}

a {
	color: #AAAAFF;
	text-decoration: none;
}

a:visited {
	color: #BB77AA;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}